In [91]:
# Dependencies
import pandas as pd

# Importing Data from csv files
school_data = pd.read_csv('Resources/schools_complete.csv')
student_data = pd.read_csv('Resources/students_complete.csv')
merged_data = pd.merge(school_data,student_data, how='left', on=['school_name', 'school_name'])

# School DataFrame
school_df = pd.DataFrame(merged_data)
school_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [92]:
# Total number of schools
num_schools = len(school_df['school_name'].unique())
print(f"There are {num_schools} schools in the system.")

There are 15 schools in the system.

In [93]:
# Total number of students
num_students = len(school_df['Student ID'].unique())
print(f"There are {num_students} students in the system.")

There are 39170 students in the system.

In [94]:
# Total budget
total_budget = '${:0,.2f}'.format(sum(school_df['budget'].unique()))
print(f"The total budget for the district is {total_budget}.")

The total budget for the district is $24,649,428.00.

In [95]:
# Average Math Score
average_math = sum(school_df['math_score'])/len(school_df['math_score'])
print(f"The average math score is: {average_math}.")

The average math score is: 78.98537145774827.

In [96]:
# Average Reading Score
average_read = sum(school_df['reading_score'])/len(school_df['reading_score'])
print(f"The average reading score is: {average_read}.")

The average reading score is: 81.87784018381414.

In [97]:
# Percentage Passing in Math
percent_pass_math = len(school_df[school_df['math_score'] >= 70])/num_students * 100
print(f"The percentage of students passing math is: {round(percent_pass_math, 2)}%.")

The percentage of students passing math is: 74.98%.

In [98]:
# Percentage Passing in Reading
percent_pass_reading = len(school_df[school_df['reading_score'] >= 70])/num_students
print(f"The percentage of students passing reading is: {round(100 * percent_pass_reading, 2)}%.")

The percentage of students passing reading is: 85.81%.

In [99]:
# Passing Both Math and Reading
math_pass = school_df[school_df['math_score'] >= 70]
percent_overall_pass = len(math_pass[math_pass['reading_score'] >= 70]) * 100 / num_students
print(f"The overall percentage of passing students is: {round(percent_overall_pass,2)}%.")

The overall percentage of passing students is: 65.17%.

In [100]:
data_dict = {"Total Schools": [num_schools],
             "Total Students": [num_students], 
             "Total Budget": [total_budget], 
             "Average Math Score": [average_math],
             "Average Reading Score": [average_read],
             "% Passing Math": [percent_pass_math],
             "% Passing Reading": [percent_pass_reading],
             "% Overall Passing": [percent_overall_pass]}

summary_df = pd.DataFrame.from_dict(data_dict)
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,0.858055,65.172326

### School Information

In [101]:
school_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [115]:
group_df = school_df.groupby('school_name')

# List of School Names
school_names = [x[0] for x in group_df['school_name'].unique()]

# List of School Types
school_types = [x[0] for x in group_df['type'].unique()]
school_types

# List of Total Students
num_students_per_school = group_df['Student ID'].count()
print(num_students_per_school)

# Make a list containing the number of students per school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64